@page "/Fotoalbum/{sharedid}"
@inject IBrugerService brugerService
<p class="text-danger">@msg</p>
@code {
    [Parameter]
    public string SharedId { get; set; }
    private Model.PB_Bruger current = new Model.PB_Bruger();
    private string msg = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        try
        {
            current = await brugerService.FindUserFromSharedId(SharedId);

        }
        catch(Exception ex)
        {
            msg = ex.Message;
        }
    }
}
